<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/layui/2.5.7/css/layui.css"/>
    <script src="/webjars/layui/layui.js"></script>
</head>
<body>

<form class="layui-form" action="/s/q1" method="post">

    <div class="layui-input-inline">
        <input type="text" name="stock" required lay-verify="required" placeholder="请输入股票代码"  class="layui-input">
    </div>
    <div class="layui-input-inline">
        <button class="layui-btn" lay-submit lay-filter="formDemo">三拷问之一投资</button>
    </div>
</form>

<table class="layui-table">
    <thead>
    <tr>
        <th>资本开支</th>
        <div th:each="year:${fields}">
            <th th:text="${year}"></th>
        </div>
        <th>总计</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="one:${expend}">
        <td th:text="${one.key}"></td>
        <div th:each="val:${one.value}">
            <td th:text="${val}"></td>
        </div>
    </tr>
    <thead>
    <tr>
        <th>自由现金流</th>
        <div th:each="year:${fields}">
            <th th:text="${year}"></th>
        </div>
        <th>总计</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="one:${freecash}">
        <td th:text="${one.key}"></td>
        <div th:each="val:${one.value}">
            <td th:text="${val}"></td>
        </div>
    </tr>
    <thead>
    <tr>
        <th>净利润</th>
        <div th:each="year:${fields}">
            <th th:text="${year}"></th>
        </div>
        <th>增长</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="one:${netpop}">
        <td th:text="${one.key}"></td>
        <div th:each="val:${one.value}">
            <td th:text="${val}"></td>
        </div>
    </tr>
    </tbody>
</table>

<table class="layui-table">
    <thead>
    <tr>
        <th>小熊值</th>
        <th>小熊基本值</th>
        <th>小熊增长值</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="one:${basic}">
        <td th:text="${one.key}"></td>
        <td th:text="${one.value}"></td>
        <td th:text="${inc[one.key]}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>